
body {
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 15vh 60vh 30vh;
}
nav {
    grid-area: navbar;
    background-color: blue ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: red;
    text-decoration: none;
    font-size: 16pt;
}

#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
}

.trace {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 40px;
}
@media (max-width:768px) {
    nav a {
        display: none;
    }
    #menuHamburguer {
        display: flex;
    }
    body{
        grid-template-areas:'navbar navbar navbar navbar'
                            'section section section section'
                            'aside aside aside aside'
                            'footer footer footer footer';
        grid-template-rows: 15vh 60vh 60vh 30vh;

    }
    
}
@media (max-width:425px) {
    nav {
        justify-content: flex-start;
        background-image: url(http://placekitten.com/g/200/300)
    }
    #menuHamburguer {
        display: flex;
    }
    body{
        grid-template-areas:'navbar navbar navbar navbar'
                            'aside aside section section'
                            'aside aside section section'
                            'footer footer footer footer';
        grid-template-rows: 15vh 40vh 40vh 30vh;

    }
}
section{
    grid-area: section;
    background-color: green;
}
aside{
    grid-area: aside;
    background-color: gold;
}
footer{
    grid-area: footer;
    background-color: red;
}